
<button class= "arrow" id="up">Up</button>
<button class= "arrow" id="down">Down</button>
<button id="be">Binge?</button>
<button id="si">Suicidal?</button>
<button id="rate">Rate it!</button>

<%= line_chart ({name: "Series A", data: @entries}) %>