.true{
  background-color: red
}


.glow {
  -webkit-box-shadow:0 0 20px blue;
  -moz-box-shadow: 0 0 20px blue;
  box-shadow:0 0 20px blue;
}

.selected {
  -webkit-box-shadow: 0  5px 10px green;
  -moz-box-shadow: 0  5px 10px green;
  box-shadow: 0 5px 10px green;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
